@import './foundation/scss/normalize';
@import './foundation/scss/foundation';

h1 {
  color: orange;
  font-family: 'Amatic SC', cursive;
}
h2 {
  font-family: 'Amatic SC', cursive;
}
.login_screen_form {
  text-align: center;

  .button {
    margin: 5px;
  }
}
.profile_page_headers {
  text-align: center;
}

.match_page_contents {
  text-align: center;

  .button {
    margin: 5px;
  }
}
img {
  width: 300px;
}

.navImg:hover {
  transition: .5s ease-out;
  transform: scale(10,10);
}


.navbar_li {
  margin: 20px;
  padding: 20px;
}
.icon-bar.three-up {

  .item:hover {
    background: darkorange !important;
  }
}
.button {
  background: orange !important;

  .button:hover{
    background: darkorange !important;
  }
}

.potentialMatch {
  background-color: lightgrey;

  img {
    max-height: 300px;
  }

}

.hidden {
  display: none;
}


