head
    title(Spoooky Dating)
    link(rel="stylesheet" href="vendor/normalize.css")
    link(rel="stylesheet" href="vendor/foundation.css")
    link(rel="stylesheet" href="css/main.css")
    link(href='http://fonts.googleapis.com/css?family=Amatic+SC:400,700' rel='stylesheet' type='text/css')
