.icon-bar.three-up
  a.item
    img(src="http://cdn.flaticon.com/png/256/27653.png")
    label Profile
  a.item
    img(src="http://cdn.flaticon.com/png/256/32441.png")
    label Matches
  a.item
    img(src="http://cdn.flaticon.com/png/256/27653.png")
    label Logout
