.icon-bar.three-up
  a(href="profile.html").item
    img.navImg.shake.shake-opacity(src="http://cdn.flaticon.com/png/256/60079.png")
    label.navLabel Profile
  a(href="match.html").item
    img.navImg.shake.shake-hard(src="http://cdn.flaticon.com/png/256/2811.png")
    label.navLabel Matches
  a.item#logout
    img.navImg.shake.shake-slow(src="http://cdn.flaticon.com/png/256/59580.png")
    label.navLabel Logout
