.icon-bar.three-up
  a(href="profile.html").item
    img(src="http://cdn.flaticon.com/png/256/27653.png")
    label Profile
  a(href="match.html").item
    img(src="http://cdn.flaticon.com/png/256/32441.png")
    label Matches
  a(id="logout").item
    img(src="http://cdn.flaticon.com/png/256/27653.png")
    label Logout
