doctype html
html

  include partials/_head.jade

  body
    include partials/_navbar.jade

    h1 Welcome to Spooooky Dating
    h2 Please login or register

    form
      input(type="text" placeholder="username")
      input(type="password" placeholder="password")
      button#login Login
      button#createUser Create User

    script(src="vendor/jquery.min.js")
    script(src="vendor/lodash.min.js")
    script(src="js/main.js")
