doctype html
html

  head
    title(Spoooky Matching)
    link(rel="stylesheet" href="vendor/bootstrap.min.css")
    link(rel="stylesheet" href="css/main.css")

  body
    include partials/_navbar.jade

    h1 Make a match!
    img(src"#")
    div
      div Name
      div Interests
    button Boo
    button Eew

    button Logout

    script(src="vendor/jquery.min.js")
    script(src="vendor/lodash.min.js")
    script(src="js/main.js")

