doctype html
html

  head
    title(Spoooky Dating)
    link(rel="stylesheet" href="vendor/bootstrap.min.css")
    link(rel="stylesheet" href="css/main.css")

  body

    h1 Welcome to your profile

    script(src="vendor/jquery.min.js")
    script(src="vendor/lodash.min.js")
    script(src="js/main.js")
