doctype html
html

  include partials/_head.jade

  body
    include partials/_navbar.jade
    .row
      .small-6.columns.small-offset-3#add_profile_info
        .profile_page_headers
          h1 Complete your profile, you ghoul!
        div
          form(id="userProfileInfoForm")
            lable Name
            input(id="userProfileName" type="text" placeholder="Name")
            lable Image
            input(id="userProfileImage" type="text" placeholder="Image URL")
            lable Bio
            input(id="userProfileBio" type="text" placeholder="I'm a pretty cool ghoul who loves the Monster Mash!")
            lable Interests
            input(id="userProfileInterests" type="text" placeholder="haunting, being an apparition, floating")
            button(id="submitUserDataToPage") Submit

      .small-8.columns
        div.profile_info_holder
        .profileButtonControls
        button(id="showMatchedUsers") Show My Matches
    .row
      .small-1.columns
      .small-10.columns
        div.matches_holder


    script(src="vendor/jquery.min.js")
    script(src="vendor/lodash.min.js")
    script(src="vendor/firebase.js")
    script(src="js/main.js")
